.my-photo{
    display: flex;
    align-items: center;
    justify-content: center;

    width:  25vw;
    height: fit-content;

    margin-right: 10vw;

    .my-photo-img{
        z-index: 20px;
        display: block;

        width: 100%;
        height: auto;

        border: transparent;
        border-radius: 70%;

        -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
        filter: grayscale(100%);
    }

    .my-photo-background{
        position:absolute;
        z-index: -1;
        width: 30vw;
        height: auto;
    }
}

@media only screen and (max-width: 800px) {
    .my-photo{
        margin-top: 10px;
        margin-right: 0px;
        width: 60vw;
        .my-photo-img{
            margin-bottom: 10px;
        }

    .my-photo-background{
        width: 70vw;
    }
    }
    
}